<!doctype html>
<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/stylesheets/metaverse.css">
  </head>
  <body>
    <h1> <%= @title %> </h1>
    <div>
      <%= yield %>

      <p>There are a <%= @user_count %> users and a total of <%= count_interests %> interests</p>
    </div>
  </body>

</html>